@media screen and ( max-width: 1200px )

    .intro-inner
        &__suptitle 
            font-size: 60px
        &__title
            font-size: 103px

    .about-counter>.container
        padding: 0px

    .counters-item
        &:first-child
            border-left: none
        &:last-child
            border: none

    .blogs
        margin-right: 30px
        &-item
            margin-bottom: 20px

    .blogs-descr__title
        font-size: 9px
        line-height: 20px



        
    
@media screen and ( max-width: 992px )

    .intro
        height: 900px
        min-height: 900px

    .nav-link
        margin-right: 20px
        font-size: 12px

    .intro-inner
        padding-top: 200px
        &__suptitle 
            font-size: 48px
        &__title
            font-size: 78px

    
    .intro-inner__btn
        margin-bottom: 100px
    
    .intro-slider__item
        font-size: 16px
        padding-top: 15px
        span
            font-size: 18px

    .about-counter>.container
        padding: 0px

    .counters-item
        &:first-child
            border-left: none
        &:last-child
            border: none

    .card-photo__item
        margin-right: 20px

    .blocks-item
        margin-bottom: 60px
        flex-basis: 50%
        &__img 
            width: 15%

    .blogs
        width: 100%
        margin-right: 0
        text-align: center
        &-item
            flex-direction: column
            width: 70%
            margin-bottom: 10px
            margin: 0px auto 50px

            &__img
                margin-right: 0
                margin-bottom: 20px
                min-width: 183px
        &-descr
            &__title
                
                font-size: 16px


    .blogs-descr__text
        font-size: 12px

    .social-form
        &__input
            padding-right: 32px
        &__btn
            padding: 14px 24px

    .people-item
        padding-left: 150px
        margin-bottom: 40px
        &__job
            margin-bottom: 30px

    .people-item__text
        font-size: 12px
        line-height: 18px
    .people-block
        margin-left: 35px

    .instablogs-block
        flex-direction: column

    .social
        width: 100%

    .insta
        padding-top: 20px
        width: 50%
        text-align: center
        margin: 0px auto

    
    
    



    .mogo-title
        text-align: center

    .mogo-text
        margin: 0px auto
        text-align: center
        width: 70%
        margin-bottom: 30px

    .mogo-followers
        text-align: center

    .mogo-followus
        justify-content: center
    
    .social-form
        justify-content: center
        margin-bottom: 30px

    .about-counter
        background-color: #ffffff  

    .counters-item
        background-color: #95e1d3

    .counters-item__title
        font-size: 46px

    .counters-item__subtitle
            font-size: 10px
            font-weight: 400
    



@media screen and ( max-width: 768px )

    .intro-inner
        &__suptitle 
            font-size: 40px


    .intro-inner__title
        font-size: 60px
        

    .about-counter>.container
        padding: 0px

    .counters-item
        &:first-child
            border-left: none
        &:last-child
            border: none
    
    .blocks
        &-text
            max-width: 300px
        &-item 
            flex-basis: 100%
            justify-content: center
            &__img
                width: 8%

    .counters
        flex-direction: column


    .counters-item
        width: 100%
        border-bottom:  2px solid #b5eae0
        &:last-child
            border-bottom:  none
            
    .counters-item__title   
        margin-top: 24px
        margin-bottom: 21px
        font-size: 42px

    .counters-item__subtitle
        margin-bottom: 24px
        font-size: 18px

    .card-photo__social a 
        padding: 12px
        font-size: 20px      
        width: 45px
        height: 45px
        

    .section-top
        padding-top: 50px


    .devices-item__iphone
        right: 0

    



@media screen and ( max-width: 576px )

    .intro-inner
        padding-top: 150px
        &__title
            font-size: 50px

    .about-counter>.container
        padding: 0px

    .counters-item
        &:first-child
            border-left: none
        &:last-child
            border: none

    .nav
        display: none

    .intro-slider
        flex-direction: column

    .intro-inner__btn
        margin-bottom: 20px

    .intro-slider__item
        text-align: center
        margin-right: 0
        min-width: 120px

    .card-photo
        flex-direction: column
        &__item
            width: 90%
            margin-bottom: 100px
            margin-right: 0
            &:last-child
                margin-bottom: 0
       
        




    



// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }